<div class="module lateralwithgallerymenu" ng-controller="lateralwithgallerymenuController">

    <div class="shadow" ng-show="muestramenu === 'open'" ng-click="muestramenu = 'close'"></div>

    <div class="menu" ng-class="muestramenu">
        <div class="menuItems">
        <a class="item" ng-click="muestramenu = 'close'" ng-repeat="(key, value) in menu"
            ng-selected="isSelected(value.url)" ng-href="{{value.url}}">
            <i style="display:none">
                <koa-icon src="{{value.icon}}" ng-if="!showicons && value.typeicon === 0"></koa-icon>
                <iron-icon src="{{value.icon}}" class="itemicon" ng-if="!showicons && value.typeicon === 1"></iron-icon>
            </i>
            <span >{{value.text}}</span>
        </a>
        <div class="gallery">
            <h2 class="wigdettitle">{{gallerytitle}}</h2>
            <center>
               <div class="imagen" ng-repeat="img in gallery">
                   <img src="{{img.url}}" width="75" height="75"/>
               </div>
            </center>
        </div>
     </div>
    </div>
    <!-- style="font-size:80%;margin-left:10%;margin-top:20%" -->

    <div class="content">
        <div class="topMenu">
            <img src="{{navbarimage}}">
            <button ng-click="muestramenu = muestramenu === 'open'? 'close':'open'">
                <koa-icon icon="{{lateralwithgallerymenu.icon}}" id="menuIcon" class="menuIcon"></koa-icon>
            </button>
        </div>
        <!-- moduleIdentifier + Template - Needs embracing div -->

        <div ng-include="lateralwithgallerymenuTemplate" class="template"></div>
    </div>
</div>